.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color:white;
}
.logo img {
  max-height: 10vh;
  min-width: 10vh;
  max-width: 100%;
  object-fit: cover;
}
nav ul.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  height: 100%;
  width: 100%;
}
nav ul.navbar li {
  width: 100%;
  height: 100%;
}
nav ul.navbar li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-style: none;
}
nav ul.navbar li:hover {
  background-color: rgb(255, 255, 255, 0.3);
}
nav ul.navbar li a:hover {
  border-bottom: 1px solid white;
}
.header.sticky {
  background-color: rgb(0, 0, 0, 0.2);
}
.hamburguesa{
  display: none;
}
@media screen and (max-width: 1079px) {
  .logo{
    min-width: 90vw;
    align-items: center;
    justify-content: space-between;
  }
  nav, .login {
    display: none!important;
  }

  .hamburguesa{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
